<h1>Photo Album Form</h1>

{{#form-label label='Title' errors=photoAlbum.errors.title}}
  {{input value=photoAlbum.title}}
{{/form-label}}

{{#form-label label='Description' errors=photoAlbum.errors.description}}
  {{textarea value=photoAlbum.description}}
{{/form-label}}

{{#form-label label='Creation Date' errors=photoAlbum.errors.creationDate}}
  {{pikaday-input
    value=photoAlbum.creationDate
    placeholder='Creation Date'
    format='MMMM Do, YYYY'
    firstDay=0
    useUTC=true
    onSelection=(action (mut photoAlbum.creationDate))
  }}
{{/form-label}}

<div class='l--flex'>
  <button {{action 'save' photoAlbum}} class='button--main'>
    Save Album Details
  </button>

  <button {{action 'delete' photoAlbum}} class='l--m-l-20'>
    Delete Album
  </button>
</div>

{{#unless photoAlbum.isNew}}
  <div class='form__section'>
    <h2>Photos</h2>
    {{#each (sort-by 'position' photoAlbum.photos) as |photo|}}
      <div class='form__subsection'>
        <div>Photo {{photo.position}}</div>
        {{#cloudinary-upload
          model=photo
          description='Upload Image'
          attribute='cloudinaryId'
          imageHeight=300
          imageClass='form__score-page-thumb'
          crop='limit'
          uploadType='photo'
          cloudinaryId=photo.cloudinaryId
        }}
          <span>Upload Photo</span>
        {{/cloudinary-upload}}

        {{#form-label label='Title/Caption' errors=photo.errors.title}}
          {{input value=photo.title}}
        {{/form-label}}
        {{#form-label label='Position' errors=photo.errors.position}}
          {{input value=photo.position}}
        {{/form-label}}
        <button {{action 'save' photo}}>
          Save Photo
        </button>
      </div>
    {{/each}}
    <button {{action 'addPhoto' photoAlbum}}>
      Add Photo
    </button>
  </div>
{{/unless}}
