<h1>Composition Form</h1>

{{#form-label label='Title' errors=composition.errors.title}}
  {{input value=composition.title}}
{{/form-label}}

{{#form-label label='Description' errors=composition.errors.description}}
  {{textarea value=composition.description}}
{{/form-label}}

<div class='l--flex'>
  <button {{action save composition}} class='button--main'>
    Save Composition Details
  </button>

  <button {{action 'delete' composition}} class='l--m-l-20'>
    Delete Composition
  </button>
</div>

{{#unless composition.isNew}}
  <div class='form__section'>
    <h2>Score</h2>
    {{#if composition.score}}
      {{#each (sort-by 'pageNumber' composition.score.pages) as |page|}}
        <div class='form__subsection'>
          <div>Page {{page.pageNumber}}</div>
          {{#cloudinary-upload
            model=page
            description='Upload Image'
            attribute='cloudinaryId'
            imageHeight=300
            imageClass='form__score-page-thumb'
            crop='limit'
            uploadType='score-page'
            cloudinaryId=page.cloudinaryId
          }}
            <span>Upload Page</span>
          {{/cloudinary-upload}}

          {{#form-label label='Begin Time (seconds)' errors=page.errors.beginTime}}
            {{input value=page.beginTime}}
          {{/form-label}}
          {{#form-label label='Page Number' errors=page.errors.pageNumber}}
            {{input value=page.pageNumber}}
          {{/form-label}}
          <button {{action 'save' page}}>
            Save Page
          </button>
        </div>
      {{/each}}
      <button {{action 'addPage' composition.score}}>
        Add Page
      </button>
    {{else}}
      <button {{action 'addScore' composition}}>
        Add Score
      </button>
    {{/if}}
  </div>

  <div class='form__section'>
    <h2>Recording</h2>
    {{#if composition.recording}}
      {{#form-label label='Recorded On' errors=composition.recording.errors.recordedOn}}
        {{pikaday-input
          value=composition.recording.recordedOn
          placeholder='Recorded On'
          format='MMMM Do, YYYY'
          firstDay=0
          useUTC=true
          onSelection=(action (mut composition.recording.recordedOn))
        }}
      {{/form-label}}

      {{#form-label label='Url' errors=composition.recording.errors.url}}
        {{textarea value=composition.recording.url}}
      {{/form-label}}
      <button {{action 'save' composition.recording}}>
        Save Recording
      </button>
    {{else}}
      <button {{action 'addRecording' composition}}>
        Add Recording
      </button>
    {{/if}}
  </div>
{{/unless}}
